/* Header Section */
header{
    background-color:antiquewhite;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/* Nav Section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 40px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav-title{
    font-size: 50px;
    font-weight: bold;
}

/* Header Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.banner-content{
    padding: 0 50px 0 0;
}
.banner-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.banner-description{
    margin-bottom: 10px;
}
.banner-image{
    width: 400px;
}



/* Primary Button */
.btn-primary{
    background-color: crimson;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    font-weight: bold;
}

/* Single Colors */
.text-crimson{
    color: crimson;
}